body {
	background-color: gray;
}

.container {
	margin: auto;
    width: 70%;
    padding: 10px;
}

.left-side {
	width: 40%;
	float: left;
	margin-right: 20px;
}

.hr-social-medias {
	width: 80%;
	height: 10px;
	background-color: yellow;
}

.media-icons {
	width: 80%;
	background-color: green;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.social-medias-list {
	list-style-type: none;
}

.smi {
	display: inline;
}

.social {
	height: 50px;
	width: 50px;
	padding-right: 20px;
}

.user-profile {
	border-radius: 50%;
	border: solid black 5px;
}

.hr-user-info {
	width: 30%;
	height: 5px;
	background-color: green;
}

.icon-list {
	list-style-type: none;
	padding-right: 40px;
}

.icon {
	height: 40px;
	width: 40px;
	background-color: green;
}

.ic {
	display: inline;
}

.hr-links {
	width: 30%;
	height: 5px;
	background-color: purple;
}

.right-side {
	float: all;
}

.hr-content {
	width: 60%;
	height: 10px;
	background-color: yellow;
	margin-left: 40%;
}

.navbar-list {
	list-style-type: none;
}

.menu {
	display: inline;
	padding-right: 30px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

.down-arrow {
	height: 20px;
	width: 20px;
	background-color: black;
	float: right;
}

.con {
	list-style-type: none;
}

.green-button {
	background-color: green;
	height: 30px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 10px;
}

.white-button {
	background-color: white;
	height: 30px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 10px;
}

.main-content {
	background-color: white;
	width: 60%;
	margin-left: 445px;
}

.profile-content, .personal-info-content {
	border: solid black 1px;
}